.header {background-color: rgb(250, 244, 222);}
ul.nav a {text-decoration:none; color: rgb(174, 217, 225); font-size: 24px; padding-top: 5px; text-align:right}
ul.nav a:hover {border-top: 1px solid rgb(174, 217, 225)}
ul.nav {list-style-type: none; padding-top: 15px;}
ul.nav li {display: inline-block; padding-right: 20px;}
h1.logo{font-family:"Gills Sans"; color:rgb(255, 167, 158); font-size: 50px; text-align:left; padding-right: 550px; padding-left: 0px}

@media (max-width: 1486px) {ul.nav li {padding-right: 15px}}
@media (max-width: 1490px) {h1.logo {padding-right: 500px}}
@media (max-width: 1425px) {h1.logo {padding-right: 450px}}
@media (max-width: 1370px) {h1.logo {padding-right: 400px}}
@media (max-width: 1320px) {h1.logo {padding-right: 350px}}
@media (max-width: 1270px) {h1.logo {padding-right: 300px}}
@media (max-width: 1220px) {h1.logo {padding-right: 250px}}
@media (max-width: 1180px) {h1.logo {padding-right: 200px}}
@media (max-width: 1120px) {h1.logo {font-size: 40px}; ul.nav a {font-size: 20px}}
@media (max-width: 1030px) {h1.logo {padding-right: 150px}}
@media (max-width: 980px) {h1.logo {padding-right: 100px}}
@media (max-width: 930px) {h1.logo {font-size: 30px}; ul.nav a {font-size: 15px}}
@media (max-width: 836px) {h1.logo {padding-right: 50px}}
@media (max-width: 785px) {h1.logo {padding-right: 350}}
@media (max-width: 735px) {h1.logo {padding-right: 300}}
@media (max-width: 685px) {h1.logo {padding-right: 250px}}
@media (max-width: 635px) {h1.logo {padding-right: 200px}}
@media (max-width: 588px) {h1.logo {padding-right: 150px}}
@media (max-width: 535px) {h1.logo {padding-right: 100px}}
@media (max-width: 420px) {h1.logo {padding-right: 30px; font-size: 25px} ul.nav a {font-size: 18px}}
@media (max-width: 280px) {ul.nav li {padding-right: 50px}}